In [1]:
# Dependencies
import pandas as pd
from pymongo import MongoClient

In [2]:
# Specify path to dataset
dictionary_data_to_load = "Data/dictionary.csv"
summer_data_to_load = "Data/summer.csv"
winter_data_to_load = "Data/winter.csv"

In [3]:
# Read dictionary, summer and data files and store into dataFrames
dictionary_data = pd.read_csv(dictionary_data_to_load)
summer_data = pd.read_csv(summer_data_to_load)
winter_data = pd.read_csv(winter_data_to_load)
winter_data.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

In [4]:
# Combine the summer and winter data into a single dataset
# Construct hierarchical index using the "summer" and "winter" keys as the outermost level.
concat_frames = [summer_data, winter_data]
summer_winter_index = pd.concat(concat_frames, keys=['Summer', 'Winter'])
summer_winter_index

             Year    City     Sport Discipline             Athlete Country  \
Summer 0     1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN
       1     1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT
       2     1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE
       3     1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE
       4     1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE
...           ...     ...       ...        ...                 ...     ...
Winter 5765  2014   Sochi    Skiing  Snowboard        JONES, Jenny     GBR
       5766  2014   Sochi    Skiing  Snowboard     ANDERSON, Jamie     USA
       5767  2014   Sochi    Skiing  Snowboard  MALTAIS, Dominique     CAN
       5768  2014   Sochi    Skiing  Snowboard        SAMKOVA, Eva     CZE
       5769  2014   Sochi    Skiing  Snowboard    TRESPEUCH, Chloe     FRA

            Gender                       Event   Medal
Summer 0       Men              100M Freestyle    Gold
       1       Men              100M Freestyle  Silver
       2       Men  100M Freestyle For Sailors  Bronze
       3       Men  100M Freestyle For Sailors    Gold
       4       Men  100M Freestyle For Sailors  Silver
...            ...                         ...     ...
Winter 5765  Women                  Slopestyle  Bronze
       5766  Women                  Slopestyle    Gold
       5767  Women             Snowboard Cross  Silver
       5768  Women             Snowboard Cross    Gold
       5769  Women             Snowboard Cross  Bronze

[36935 rows x 9 columns]

In [5]:
# Swap levels of hierarchical index and convert "season" index to a column
summer_winter_data = summer_winter_index.rename_axis(['Season','']).reset_index(level=[0])
summer_winter_data

,Season,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
,,,,,,,,,,
0,Summer,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,Summer,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,Summer,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,Summer,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,Summer,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...,...
5765,Winter,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,Winter,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,Winter,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,Winter,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,Winter,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [6]:
dictionary_data.head()

           Country Code  Population  GDP per Capita
0      Afghanistan  AFG  32526562.0      594.323081
1          Albania  ALB   2889167.0     3945.217582
2          Algeria  ALG  39666519.0     4206.031232
3  American Samoa*  ASA     55538.0             NaN
4          Andorra  AND     70473.0             NaN

In [7]:
# Merge dictionary data to the summer_winter dataset
merged_summer_winter_dictionary_data = pd.merge(summer_winter_data, dictionary_data[['Country', 'Code']], how='left', left_on='Country', right_on='Code')
merged_summer_winter_dictionary_data

,Season,Year,City,Sport,Discipline,Athlete,Country_x,Gender,Event,Medal,Country_y,Code
0,Summer,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,HUN
1,Summer,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Austria,AUT
2,Summer,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Greece,GRE
3,Summer,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Greece,GRE
4,Summer,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Greece,GRE
...,...,...,...,...,...,...,...,...,...,...,...,...
36930,Winter,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,United Kingdom,GBR
36931,Winter,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,United States,USA
36932,Winter,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Canada,CAN
36933,Winter,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Czech Republic,CZE
36934,Winter,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,France,FRA

In [8]:
# Identify incomplete rows
merged_summer_winter_dictionary_data.count()

Season        36935
Year          36935
City          36935
Sport         36935
Discipline    36935
Athlete       36935
Country_x     36931
Gender        36935
Event         36935
Medal         36935
Country_y     30568
Code          30568
dtype: int64

In [9]:
# Display rows with missing information
rows_with_NaN = merged_summer_winter_dictionary_data[merged_summer_winter_dictionary_data['Country_x'].isnull()]
rows_with_NaN

,Season,Year,City,Sport,Discipline,Athlete,Country_x,Gender,Event,Medal,Country_y,Code
29603,Summer,2012,London,Athletics,Athletics,Pending,NaN,Women,1500M,Gold,NaN,NaN
31072,Summer,2012,London,Weightlifting,Weightlifting,Pending,NaN,Women,63KG,Gold,NaN,NaN
31091,Summer,2012,London,Weightlifting,Weightlifting,Pending,NaN,Men,94KG,Silver,NaN,NaN
31110,Summer,2012,London,Wrestling,Wrestling Freestyle,"KUDUKHOV, Besik",NaN,Men,Wf 60 KG,Silver,NaN,NaN

In [10]:
# Display rows with missing information
rows_with_NaN = merged_summer_winter_dictionary_data[merged_summer_winter_dictionary_data['Country_y'].isnull()]
rows_with_NaN

,Season,Year,City,Sport,Discipline,Athlete,Country_x,Gender,Event,Medal,Country_y,Code
132,Summer,1896,Athens,Tennis,Tennis,"FLACK, Edwin",ZZX,Men,Doubles,Bronze,NaN,NaN
133,Summer,1896,Athens,Tennis,Tennis,"ROBERTSON, George Stuart",ZZX,Men,Doubles,Bronze,NaN,NaN
134,Summer,1896,Athens,Tennis,Tennis,"BOLAND, John",ZZX,Men,Doubles,Gold,NaN,NaN
135,Summer,1896,Athens,Tennis,Tennis,"TRAUN, Friedrich",ZZX,Men,Doubles,Gold,NaN,NaN
136,Summer,1896,Athens,Tennis,Tennis,"KASDAGLIS, Dionysios",ZZX,Men,Doubles,Silver,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
33961,Winter,1992,Albertville,Skiing,Freestyle Skiing,"KOZHEVNIKOVA, Yelizaveta",EUN,Women,Moguls,Silver,NaN,NaN
33977,Winter,1992,Albertville,Skiing,Ski Jumping,"GODER, Tomas",TCH,Men,K120 Team (90M),Bronze,NaN,NaN
33978,Winter,1992,Albertville,Skiing,Ski Jumping,"JEZ, Frantisek",TCH,Men,K120 Team (90M),Bronze,NaN,NaN
33979,Winter,1992,Albertville,Skiing,Ski Jumping,"PARMA, Jiri",TCH,Men,K120 Team (90M),Bronze,NaN,NaN
33980,Winter,1992,Albertville,Skiing,Ski Jumping,"SAKALA, Jaroslav",TCH,Men,K120 Team (90M),Bronze,NaN,NaN

In [11]:
#Every NOC of the summer_winter_data that appears only once
unique = sorted(summer_winter_data['Country'].unique().astype('str'))
print(unique)

['AFG', 'AHO', 'ALG', 'ANZ', 'ARG', 'ARM', 'AUS', 'AUT', 'AZE', 'BAH', 'BAR', 'BDI', 'BEL', 'BER', 'BLR', 'BOH', 'BOT', 'BRA', 'BRN', 'BUL', 'BWI', 'CAN', 'CHI', 'CHN', 'CIV', 'CMR', 'COL', 'CRC', 'CRO', 'CUB', 'CYP', 'CZE', 'DEN', 'DJI', 'DOM', 'ECU', 'EGY', 'ERI', 'ESP', 'EST', 'ETH', 'EUA', 'EUN', 'FIN', 'FRA', 'FRG', 'GAB', 'GBR', 'GDR', 'GEO', 'GER', 'GHA', 'GRE', 'GRN', 'GUA', 'GUY', 'HAI', 'HKG', 'HUN', 'INA', 'IND', 'IOP', 'IRI', 'IRL', 'IRQ', 'ISL', 'ISR', 'ISV', 'ITA', 'JAM', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KOR', 'KSA', 'KUW', 'LAT', 'LIB', 'LIE', 'LTU', 'LUX', 'MAR', 'MAS', 'MDA', 'MEX', 'MGL', 'MKD', 'MNE', 'MOZ', 'MRI', 'NAM', 'NED', 'NGR', 'NIG', 'NOR', 'NZL', 'PAK', 'PAN', 'PAR', 'PER', 'PHI', 'POL', 'POR', 'PRK', 'PUR', 'QAT', 'ROU', 'RSA', 'RU1', 'RUS', 'SCG', 'SEN', 'SGP', 'SIN', 'SLO', 'SRB', 'SRI', 'SUD', 'SUI', 'SUR', 'SVK', 'SWE', 'SYR', 'TAN', 'TCH', 'TGA', 'THA', 'TJK', 'TOG', 'TPE', 'TRI', 'TTO', 'TUN', 'TUR', 'UAE', 'UGA', 'UKR', 'URS', 'URU', 'USA', 'UZB', 'VEN', 'VIE', 'YUG', 'ZAM', 'ZIM', 'ZZX', 'nan']

In [12]:
#Every NOC of the summer_winter_data with missing countries in the "County_y" columnn
unique = sorted(rows_with_NaN['Country_x'].unique().astype('str'))
print(unique)

['ANZ', 'BOH', 'BWI', 'EUA', 'EUN', 'FRG', 'GDR', 'IOP', 'MNE', 'ROU', 'RU1', 'SGP', 'SRB', 'TCH', 'TTO', 'URS', 'YUG', 'ZZX', 'nan']

In [13]:
# Specify path to dataset
noc_regions_data_to_load = 'Data/datasets_31029_40943_noc_regions.csv'

In [14]:
# Read noc regions dataset and store into dataFrame
noc_regions_data = pd.read_csv(noc_regions_data_to_load)
noc_regions_data.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

In [15]:
#Every NOC listed in the noc_regions_data
unique = sorted(noc_regions_data['NOC'].unique().astype('str'))
print(unique)

['AFG', 'AHO', 'ALB', 'ALG', 'AND', 'ANG', 'ANT', 'ANZ', 'ARG', 'ARM', 'ARU', 'ASA', 'AUS', 'AUT', 'AZE', 'BAH', 'BAN', 'BAR', 'BDI', 'BEL', 'BEN', 'BER', 'BHU', 'BIH', 'BIZ', 'BLR', 'BOH', 'BOL', 'BOT', 'BRA', 'BRN', 'BRU', 'BUL', 'BUR', 'CAF', 'CAM', 'CAN', 'CAY', 'CGO', 'CHA', 'CHI', 'CHN', 'CIV', 'CMR', 'COD', 'COK', 'COL', 'COM', 'CPV', 'CRC', 'CRO', 'CRT', 'CUB', 'CYP', 'CZE', 'DEN', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'ERI', 'ESA', 'ESP', 'EST', 'ETH', 'EUN', 'FIJ', 'FIN', 'FRA', 'FRG', 'FSM', 'GAB', 'GAM', 'GBR', 'GBS', 'GDR', 'GEO', 'GEQ', 'GER', 'GHA', 'GRE', 'GRN', 'GUA', 'GUI', 'GUM', 'GUY', 'HAI', 'HKG', 'HON', 'HUN', 'INA', 'IND', 'IOA', 'IRI', 'IRL', 'IRQ', 'ISL', 'ISR', 'ISV', 'ITA', 'IVB', 'JAM', 'JOR', 'JPN', 'KAZ', 'KEN', 'KGZ', 'KIR', 'KOR', 'KOS', 'KSA', 'KUW', 'LAO', 'LAT', 'LBA', 'LBR', 'LCA', 'LES', 'LIB', 'LIE', 'LTU', 'LUX', 'MAD', 'MAL', 'MAR', 'MAS', 'MAW', 'MDA', 'MDV', 'MEX', 'MGL', 'MHL', 'MKD', 'MLI', 'MLT', 'MNE', 'MON', 'MOZ', 'MRI', 'MTN', 'MYA', 'NAM', 'NBO', 'NCA', 'NED', 'NEP', 'NFL', 'NGR', 'NIG', 'NOR', 'NRU', 'NZL', 'OMA', 'PAK', 'PAN', 'PAR', 'PER', 'PHI', 'PLE', 'PLW', 'PNG', 'POL', 'POR', 'PRK', 'PUR', 'QAT', 'RHO', 'ROT', 'ROU', 'RSA', 'RUS', 'RWA', 'SAA', 'SAM', 'SCG', 'SEN', 'SEY', 'SIN', 'SKN', 'SLE', 'SLO', 'SMR', 'SOL', 'SOM', 'SRB', 'SRI', 'SSD', 'STP', 'SUD', 'SUI', 'SUR', 'SVK', 'SWE', 'SWZ', 'SYR', 'TAN', 'TCH', 'TGA', 'THA', 'TJK', 'TKM', 'TLS', 'TOG', 'TPE', 'TTO', 'TUN', 'TUR', 'TUV', 'UAE', 'UAR', 'UGA', 'UKR', 'UNK', 'URS', 'URU', 'USA', 'UZB', 'VAN', 'VEN', 'VIE', 'VIN', 'VNM', 'WIF', 'YAR', 'YEM', 'YMD', 'YUG', 'ZAM', 'ZIM']

In [16]:
# Create a dataframe of additional NOC data missing in noc regions dataset (data source: Olympic.org)
noc_dicts = [{"NOC": "BWI", "region": "British West Indies", "notes": "1960 Medals Awarded to Barbados and Jamaica"},
             {"NOC": "EUA", "region": "Germany", "notes": "United Team of Germany"},
             {"NOC": "IOP", "region": "Independent Olympic Participants", "notes": "1992 Medals Awarded to Serbia and Yugoslavia"},
             {"NOC": "RU1", "region": "Russia", "notes": "Russian Empire"},
             {"NOC": "SGP", "region": "Singapore", "notes": "Prior IOC Code: SIN"},
             {"NOC": "TRI", "region": "Trinidad", "notes": "Trinidad and Tobago, Prior IOC Code: TRI"},
             {"NOC": "ZZX", "region": "Mixed Team", "notes": "Athletes from Multiple Nations"}]

noc_additional_data = pd.DataFrame(noc_dicts)
noc_additional_data

,NOC,region,notes
0,BWI,British West Indies,1960 Medals Awarded to Barbados and Jamaica
1,EUA,Germany,United Team of Germany
2,IOP,Independent Olympic Participants,1992 Medals Awarded to Serbia and Yugoslavia
3,RU1,Russia,Russian Empire
4,SGP,Singapore,Prior IOC Code: SIN
5,TRI,Trinidad,"Trinidad and Tobago, Prior IOC Code: TRI"
6,ZZX,Mixed Team,Athletes from Multiple Nations

In [17]:
# Append noc_additional_data to noc_region_data dataframe
new_noc_regions_data = noc_regions_data.append(noc_additional_data, ignore_index=True)
new_noc_regions_data

,NOC,region,notes
0,AFG,Afghanistan,NaN
1,AHO,Curacao,Netherlands Antilles
2,ALB,Albania,NaN
3,ALG,Algeria,NaN
4,AND,Andorra,NaN
...,...,...,...
232,IOP,Independent Olympic Participants,1992 Medals Awarded to Serbia and Yugoslavia
233,RU1,Russia,Russian Empire
234,SGP,Singapore,Prior IOC Code: SIN
235,TRI,Trinidad,"Trinidad and Tobago, Prior IOC Code: TRI"
236,ZZX,Mixed Team,Athletes from Multiple Nations

In [18]:
merged_summer_winter_noc_regions_data = pd.merge(summer_winter_data, new_noc_regions_data[['NOC', 'region']], how='left', left_on='Country', right_on='NOC')
merged_summer_winter_noc_regions_data

,Season,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,NOC,region
0,Summer,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,HUN,Hungary
1,Summer,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,AUT,Austria
2,Summer,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,GRE,Greece
3,Summer,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,GRE,Greece
4,Summer,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,GRE,Greece
...,...,...,...,...,...,...,...,...,...,...,...,...
36930,Winter,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,GBR,UK
36931,Winter,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,USA,USA
36932,Winter,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,CAN,Canada
36933,Winter,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,CZE,Czech Republic
36934,Winter,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,FRA,France

In [19]:
# Identify incomplete rows
merged_summer_winter_noc_regions_data.count()

Season        36935
Year          36935
City          36935
Sport         36935
Discipline    36935
Athlete       36935
Country       36931
Gender        36935
Event         36935
Medal         36935
NOC           36931
region        36931
dtype: int64

In [20]:
rows_with_NaN = merged_summer_winter_noc_regions_data[merged_summer_winter_noc_regions_data['Country'].isnull()]
rows_with_NaN

,Season,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,NOC,region
29603,Summer,2012,London,Athletics,Athletics,Pending,NaN,Women,1500M,Gold,NaN,NaN
31072,Summer,2012,London,Weightlifting,Weightlifting,Pending,NaN,Women,63KG,Gold,NaN,NaN
31091,Summer,2012,London,Weightlifting,Weightlifting,Pending,NaN,Men,94KG,Silver,NaN,NaN
31110,Summer,2012,London,Wrestling,Wrestling Freestyle,"KUDUKHOV, Besik",NaN,Men,Wf 60 KG,Silver,NaN,NaN

In [21]:
#Update verified country data for athlete
merged_summer_winter_noc_regions_data.at[31110,'region'] = 'Russia'

In [22]:
#Verify missing data was updated
merged_summer_winter_noc_regions_data[merged_summer_winter_dictionary_data['Athlete'].str.contains("KUDUKHOV, Besik")]

,Season,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,NOC,region
29149,Summer,2008,Beijing,Wrestling,Wrestling Free.,"KUDUKHOV, Besik",RUS,Men,- 55KG,Bronze,RUS,Russia
31110,Summer,2012,London,Wrestling,Wrestling Freestyle,"KUDUKHOV, Besik",NaN,Men,Wf 60 KG,Silver,NaN,Russia

In [23]:
#Drop rows with athletes pending medals
merged_summer_winter_noc_regions_data = merged_summer_winter_noc_regions_data.dropna(subset=['region'])

In [24]:
#Verify dropped rows
merged_summer_winter_noc_regions_data.count()

Season        36932
Year          36932
City          36932
Sport         36932
Discipline    36932
Athlete       36932
Country       36931
Gender        36932
Event         36932
Medal         36932
NOC           36931
region        36932
dtype: int64

In [25]:
# Remove non-essential columns
column_modification = merged_summer_winter_noc_regions_data.drop(columns=['City', 'Discipline', 'Athlete', 'Country', 'NOC'])
column_modification

,Season,Year,Sport,Gender,Event,Medal,region
0,Summer,1896,Aquatics,Men,100M Freestyle,Gold,Hungary
1,Summer,1896,Aquatics,Men,100M Freestyle,Silver,Austria
2,Summer,1896,Aquatics,Men,100M Freestyle For Sailors,Bronze,Greece
3,Summer,1896,Aquatics,Men,100M Freestyle For Sailors,Gold,Greece
4,Summer,1896,Aquatics,Men,100M Freestyle For Sailors,Silver,Greece
...,...,...,...,...,...,...,...
36930,Winter,2014,Skiing,Women,Slopestyle,Bronze,UK
36931,Winter,2014,Skiing,Women,Slopestyle,Gold,USA
36932,Winter,2014,Skiing,Women,Snowboard Cross,Silver,Canada
36933,Winter,2014,Skiing,Women,Snowboard Cross,Gold,Czech Republic
36934,Winter,2014,Skiing,Women,Snowboard Cross,Bronze,France

In [26]:
# Rename "Country_y" column to "Country"
olympic_data = column_modification.rename(columns={'Region': 'Country'})
olympic_data

,Season,Year,Sport,Gender,Event,Medal,region
0,Summer,1896,Aquatics,Men,100M Freestyle,Gold,Hungary
1,Summer,1896,Aquatics,Men,100M Freestyle,Silver,Austria
2,Summer,1896,Aquatics,Men,100M Freestyle For Sailors,Bronze,Greece
3,Summer,1896,Aquatics,Men,100M Freestyle For Sailors,Gold,Greece
4,Summer,1896,Aquatics,Men,100M Freestyle For Sailors,Silver,Greece
...,...,...,...,...,...,...,...
36930,Winter,2014,Skiing,Women,Slopestyle,Bronze,UK
36931,Winter,2014,Skiing,Women,Slopestyle,Gold,USA
36932,Winter,2014,Skiing,Women,Snowboard Cross,Silver,Canada
36933,Winter,2014,Skiing,Women,Snowboard Cross,Gold,Czech Republic
36934,Winter,2014,Skiing,Women,Snowboard Cross,Bronze,France

In [27]:
# Identify incomplete rows
olympic_data.count()

Season    36932
Year      36932
Sport     36932
Gender    36932
Event     36932
Medal     36932
region    36932
dtype: int64

In [28]:
# Connect to MongoDB
client = MongoClient()

In [29]:
# Create database and collection
db = client['Olympics']
collection = db['SportsEventsAndMedals']

In [30]:
# Convert dataFrame into a dictionary
olympic_data_dict = olympic_data.to_dict("records")

In [31]:
# Insert collection
collection.insert_many(olympic_data_dict)